:root {
    --primary-color: #AEAEAE;
    --secondary-color: #2D3E50;
    --tertiary-color: #3462BB;
    --quaternary-color: #20094B;
    --quinary-color: #5098E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    background: linear-gradient(to right, var(--tertiary-color), var(--quaternary-color));
    display: flex;
    justify-content: center;
}

.search-box {
    width: 20%;
    padding: 20px 30px 0 50px;
}

.search-box h2 {
    font-size: 1.75vw;
    font-weight: bolder;
}

#search-input {
    width: 100%;
    font-size: 1.25vw;
    margin-top: 5px;
    padding: 5px;
}

.searchBtn {
    background-color: var(--quinary-color);
    color: white;
    border: none;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.0vw;
}

.search-list {
    margin-top: 25px;
    border-top: solid 2px black;
}

#past-search-btn {
    background-color: var(--primary-color);
    color: black;
    border: none;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.0vw;
}

.results-box {
    width: 78%;
    padding: 20px 30px 0 30px;
}

.results-box #results-city {
    font-size: 1.75vw;
    font-weight: bolder;
    padding: 10px;
}

.results-box #current-date {
    font-size: 1.75vw;
    font-weight: bolder;
    padding: 10px;
}

.results-box #currentIcon {
    width: 75px;
}

.results-box div p {
    padding-left: 15px;
    font-size: 1.0vw;
}

.results-box #results-city {
    padding: 15px 0 0 15px;
}

#current-uv {
    padding: 2px 25px 2px 25px;
    color: white;
    border-radius: 8px;
}

.forecast {
    margin: 45px 0 0 0;
}

.forecast #five-day-forecast {
    font-size: 1.25vw;
    font-weight: bolder;
}

.forecast #forecast-icon {
    width: 100px;
}

.card {
    color: white;
    background-color: var(--secondary-color);
}

.forecast-card-date {
    font-size: 1.0vw;
    font-weight: bolder;
    padding: 10px;
}

.card img {
    padding: 0 0 0 10px;
}

.card-text {
    font-size: 1.0vw;
    margin: 0;
    padding: 10px;
}